* {
    box-sizing: border-box;
}

.app-container {
    width: 1500px;
    margin: 0 auto;
    padding-top: 150px;
}

.field {
    height: 300px;
    width: 1000px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.graph-container {
    position: relative;
    height: 300px;
    width: 1000px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background-color: black;
}

.graph {
    width: 15px;
    /* background-color: green; */
}
.star {
    height: 1px;
    background-color: white;
}

.starship{
    width: 50px;
    height: 50px;
    content: '';
    background-image: url(../img/starship.png);
    position: absolute;
}
