.custom-container {
    background-color: tomato;
    position: absolute;
    width: 1000px;
    height: 300px;
    z-index: 6;
}

.custom-container_none {
    display: none;
}

.exit {
    color: white;
    font-size: 20px;
}

.custom-inner {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 200px;
}

.custom-name {
    width: 100px;
    margin: 0 auto;
    color: white;
}

.custom-image {
    content: "";
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.left-arrow {
    position: absolute;
    left: 0;
}

.right-arrow {
    position: absolute;
    right: 0;
}
