.interface-container {
    position: relative;
    left: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: white;
}

.pause{
    position: absolute;
    bottom: 80px;
    left: 320px;
    font-size: 110px;
    color: white;
}

.pause_none{
    display: none;
}

.timer{
    position: absolute;
    bottom: 80px;
    left: 320px;
    font-size: 110px;
    color: white;
}

.timer_none{
    display: none;

}