.timer-container {
    background-color: gray;
    height: 300px;
    width: 1000px;
    z-index: 5;
}

.timer-container_none {
    display: none;
}

.timer {
    position: absolute;
    bottom: 80px;
    left: 320px;
    font-size: 110px;
    color: white;
}

.timer_none {
    display: none;
}
